<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Hello</title>
</head>
<body>
	<!-- th:text是一个属性    -->
	<h1 th:text="${message}">Hello World</h1>
	
	<h2 th:text="${user.address}">家庭住址</h2>
	
	<h2 th:text="${list[0].name}">用户的名字</h2>
	
	<h2 th:text="${messsage}">用户的密码</h2>
	
	
	<div th:object="${user}">
		<p>id：<span th:text="*{id}">65792</span></p>
		<p>name：<span th:text="*{name}">tony</span></p>
		<p>address：<span th:text="*{address}">巴黎</span></p>
		<p>address：<span th:text="${user.pwd}">巴黎</span></p>
	</div>
	
	
	
</body>
</html>